

<div>
    <table
      align="center"
      width="300px"
      
    >
      <caption class="table-red" id="calculator1" name="calulator1">
        <u class="text-uppercase"> <strong>Calculator</strong></u>
  
        <thead>
          <tr>
            <th align="right" colspan="4">119,01</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="grey">AC</td>
            <td class="grey">+/-</td>
            <td class="grey">%</td>
            <td class="orange">/</td>
          </tr>
          <tr>
            <td class="dark-grey">7</td>
            <td class="dark-grey">8</td>
            <td class="dark-grey">9</td>
            <td class="orange">X</td>
          </tr>
          <tr>
            <td class="dark-grey">4</td>
            <td class="dark-grey">5</td>
            <td class="dark-grey">6</td>
            <td class="orange">-</td>
          </tr>
          <tr>
            <td class="dark-grey">1</td>
            <td class="dark-grey">2</td>
            <td class="dark-grey">3</td>
            <td class="orange">+</td>
          </tr>
          <tr>
            <td class="dark-grey" id="radius" colspan="2">0</td>
            <td class="dark-grey">,</td>
            <td class="orange">=</td>
          </tr>
        </tbody>
      </caption>
    </table>
  </div>