.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: white;

  padding-top: 45px;
  padding-bottom: 50px;
}

/* header */
.header {
  display: flex;
  background-color: #100e17;
  flex-direction: row;
  height: 40px;
  align-items: center;

  position: fixed;
  width: 100%;
}

.header-menu {
  margin-left: 10px;
}

.header-title {
  padding-left: 15px;
  font-size: 22px;
  color: burlywood;
}

.header-search {
  margin-right: 10px;
}

.header button {
  color: #bb0000;
}

/* footer */
.footer {
  display: flex;
  background-color: #100e17;
  color: #bb0000;
  height: 40px;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-previous {
  margin-left: 10px;
}

.footer-next {
  margin-right: 10px;
}

.footer-title {
  color: burlywood !important;
}

/* global style */
.space {
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  background-color: azure;
}

.immage-responsive {
  width: 100%;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  padding-left: 7px;
}

/* main-content */

.main-content {
  width: calc(70% - 30px);
  padding-right: 15px;
  padding-left: 15px;
}

.article-info {
  text-align: end;
  font-size: 18px;
  font-style: oblique;
}

.social-button {
  display: flex;
  justify-content: flex-end;
}

/* article-photo-gallery */
.article-photo-gallery .photo-gallery_photos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.article-photo-gallery .photo-gallery_photos img {
  height: 200px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/* blog-history */

.blog-history {
  width: 15%;
}

.blog-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(214, 237, 245);
}
.blog-item-image {
  width: 50%;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog-item-title {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: left;
  width: 50%;
}

.blog-item-title span {
  font-size: 14px;
}

/* adds-section  */
.adds {
  display: flex;
  flex-direction: column;
  width: 15%;
}

@media all and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main-content {
    order: 0;
    width: calc(100% - 30px);
  }

  .blog-history {
    order: 1;
    flex-direction: column;
    display: flex;
    width: calc(100% - 30px);
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .blog-item-image {
    width: 50px;
  }
  .photo-gallery_photos img {
    width: 100%;
    height: 100% !important;
  }

  .blog-item-title {
    width: auto;
  }

  .adds {
    order: 2;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
  }
  .adds-item{
    margin:20px;
  }
 
  
}
